<a href="https://colab.research.google.com/github/19PA1A04B0/pythonbasics/blob/master/(multivarient-Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting

In [0]:
ipl=pd.read_csv("students_placement_data.csv")
ipl

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
ipl.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
ipl.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
X = ipl[['SSC Percentage', 'inter_Diploma_percentage']].values
y = ipl['B.Tech_percentage'].values

In [0]:
X.shape

(117, 2)

In [0]:
y.shape

(117,)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [0]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
model.intercept_

-0.20244964286689537

In [0]:
model.coef_

array([0.10015166, 0.69111644])

In [0]:
predicted_quality=model.predict(X_test)
predicted_quality.shape

(36,)

In [0]:
X_test.shape

(36, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [0]:
Actual_predicted.head()

   Actual  Predicted
0   71.49  60.775221
1   81.10  74.326027
2   62.98  49.969796
3   68.70  63.346366
4   61.02  63.098950