<a href="https://colab.research.google.com/github/19PA1A04B0/pythonbasics/blob/master/elections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt

In [6]:
ls=pd.read_csv("/content/2019 LS Data.csv")
ls.head()

           STATE  ... TOTAL ELECTORS
0      Telangana  ...        1489790
1      Telangana  ...        1489790
2      Telangana  ...        1489790
3      Telangana  ...        1489790
4  Uttar Pradesh  ...        1937690

[5 rows x 19 columns]

In [7]:
ls.isna().any()

STATE                                        False
CONSTITUENCY                                 False
NAME                                         False
WINNER                                       False
PARTY                                        False
SYMBOL                                        True
GENDER                                        True
CRIMINAL\nCASES                               True
AGE                                           True
CATEGORY                                      True
EDUCATION                                     True
ASSETS                                        True
LIABILITIES                                   True
GENERAL\nVOTES                               False
POSTAL\nVOTES                                False
TOTAL\nVOTES                                 False
OVER TOTAL ELECTORS \nIN CONSTITUENCY        False
OVER TOTAL VOTES POLLED \nIN CONSTITUENCY    False
TOTAL ELECTORS                               False
dtype: bool

In [0]:
ls=ls.fillna(method="ffill")

In [11]:
ls.isna().any()

STATE                                        False
CONSTITUENCY                                 False
NAME                                         False
WINNER                                       False
PARTY                                        False
SYMBOL                                       False
GENDER                                       False
CRIMINAL\nCASES                              False
AGE                                          False
CATEGORY                                     False
EDUCATION                                    False
ASSETS                                       False
LIABILITIES                                  False
GENERAL\nVOTES                               False
POSTAL\nVOTES                                False
TOTAL\nVOTES                                 False
OVER TOTAL ELECTORS \nIN CONSTITUENCY        False
OVER TOTAL VOTES POLLED \nIN CONSTITUENCY    False
TOTAL ELECTORS                               False
dtype: bool

In [0]:
x=ls[['STATE',                                        
'CONSTITUENCY',
'NAME',                                         
'WINNER',                                     
'PARTY',                                        
'SYMBOL',                                     
'GENDER',                                       
'CRIMINAL\nCASES',                              
'AGE',                                          
'CATEGORY',                                     
'EDUCATION',                                   
'ASSETS',                                     
'LIABILITIES',                                  
'GENERAL\nVOTES',                               
'POSTAL\nVOTES',                                
'TOTAL\nVOTES',                                 
'OVER TOTAL ELECTORS \nIN CONSTITUENCY',        
'OVER TOTAL VOTES POLLED \nIN CONSTITUENCY']].values
y=ls['TOTAL ELECTORS'].values

In [24]:
ls.describe()

            WINNER  ...  TOTAL ELECTORS
count  2263.000000  ...    2.263000e+03
mean      0.238179  ...    1.658016e+06
std       0.426064  ...    3.145187e+05
min       0.000000  ...    5.518900e+04
25%       0.000000  ...    1.530014e+06
50%       0.000000  ...    1.679030e+06
75%       0.000000  ...    1.816857e+06
max       1.000000  ...    3.150313e+06

[8 rows x 8 columns]