<a href="https://colab.research.google.com/github/19PA1A04B0/pythonbasics/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
projects=pd.read_csv("20150430_UKDebate.csv")
projects

                city    region  ...  EdMiliband NickClegg
0      Cliffe Woods   England   ...  100.000000       0.0
1         Gorefield   England   ...  100.000000       0.0
2           Carlton   England   ...  100.000000       0.0
3             Amble   England   ...  100.000000       0.0
4        Caddington   England   ...   25.000000       0.0
...              ...       ...  ...         ...       ...
14573      Richmond   England   ...    8.333333       0.0
14574      Richmond   England   ...   10.000000       0.0
14575      Richmond   England   ...   14.285714       0.0
14576      Richmond   England   ...    8.333333       0.0
14577      Richmond   England   ...    7.692308       0.0

[14578 rows x 8 columns]

In [0]:
imp

In [6]:
import pandas as pd
matplotlib.20150430 UKDebate.hist

SyntaxError: ignored